extends layout

block content
  h1 Mis habilidades
  p
    | En esta página, puedes encontrar una lista de mis habilidades y experiencia.
  
  // Contenido dinámico
  section
    h2 Un poco de mis habilidades
    p
      | Habilidad 1: #{habilidad1}
    p
      | Habilidad 2: #{habilidad2}
    p
      | Habilidad 3: #{habilidad3}
    p
      | Habilidad 4: #{habilidad4}
    p
      | Habilidad 5: #{habilidad5}
    p
      | Habilidad 6: #{habilidad6}

